<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form" action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <input type="text" name="username" value="">
    <input type="text" name="last_name" value="">
    <input type="text" name="first_name" value="">
    <input type="date" name="birthday" value="">
    <input type="email" name="email" value="">
    <input type="password" name="password" value="">
    <input type="number" name="phone" value="">
    <input type="text" name="gender" value="">
    <input type="submit" name="class-contact submitted" value="submit">


</form>

</body>
</html>